# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Logs
logs/
*.log

# Output
data/raw/
*.csv
!data/processed/news_with_ner.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db