certifi
charset-normalizer
feedparser
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
idna
lxml
numpy
oauthlib
pandas
pyasn1
pyasn1-modules
pyparsing
python-dateutil
python-dotenv
pytrends
rapidfuzz
requests
requests-oauthlib
rsa
six
tzdata
uritemplate
urllib3

# NLP
yake
spacy
keybert
sentence-transformers
bertopic
umap-learn
hdbscan
scikit-learn

# News Module
newsapi-python
APScheduler
beautifulsoup4
gnews
textblob
langdetect